.right{

    order: 3;

   @include lg-min{
    flex: 0 0 $right-sidebar-width;
    margin-bottom: 15px;
   }
   @include lg-md{
       width: 100%;
   }
   @include md-xs{
    width: 50%;
    padding-left: $gap / 4 ;
   }

   @include xs{
    width: 100%;
   }


    .widget-news{
        @include lg-min{
            width: $right-sidebar-width ;

        }

        &__item{
            &-wrapper{
                margin-top: 0px;
                margin-right: -($gap / 2);
                margin-bottom: ($gap / 4);
                margin-left: -($gap / 2);
                padding: 0 ($gap / 2) ($gap / 4);
                display: flex;
                flex-wrap: wrap;
                transition:  background-color 0.25s;
            }

            &-title{
                display: block;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                flex-wrap: nowrap;
                margin: 0 0 10px;
                font-weight: 300;
                letter-spacing: 1px;
                white-space: nowrap;
                transition: color 0.25s;
            }

            &-image{
                width: 75px;
                height: 75px;
                overflow: hidden;
                border-radius: 4px;
                
                img{
                    display: block;
                    width: 100%;
                    max-width: 100%;
                    height: auto;
                    transition: transform 0.5s;
                }
            }

            &-text{
                overflow: hidden;
                padding-left: 10px;
                max-height: 75px;
                width: calc(100% - 75px);
                font-size: 13px;
                line-height: 19px;
                transition: color 0.5s;
                color: rgba($color-light, 0.8);
                text-overflow: ellipsis;
            }
        }
    }
}


.widget-news__item:hover{

    .widget-news__item-text{
        color:$color-light;
        text-shadow: 1px 1px 3px $color-dark, 1px 1px 10px $color-dark;
    }

    .widget-news__item-image{
        
        overflow: hidden;
        

        img{
            transform: scale(1.25);
        };
    }
    .widget-news__item-wrapper{
        background-color: rgba($color-dark, 0.2);
    }
}