.header-menu{
    display: flex;
    flex-direction: column;
    background-color: rgba($color-dark, 0.3);
    align-items: center;
    

    &__btn{
        flex-direction: column;
        width: 50px;
        height: 50px;
        cursor: pointer;
        background-color: rgba($color-dark, 0.2);
        
        justify-content: center;
        align-items: center;
        @include sm-min{
            display: none;
        }

        @include sm {
            display: flex;
        }
        
        &-row{
            position: relative;
            margin: 2px 0;
            width: 60%;
            height: 2px;
            transition: 0.5s;
            background-color:$color-light;
            opacity: 1;
            color:$color-light;
        
        }

    }

    &__list{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;

        @include sm{
            display: none;
            width: 100%;
            justify-content: center;
            text-align: center;

        }


        a{
            display: block;
            padding: 10px 15px;
            margin: 5px;
            border-radius: 4px;
        }


        
    }

    &__list-item{

        @include sm{
            &:last-child{
                margin-bottom: 5px;
            }
        }
        a{
            @include sm{
                margin-top: 0;
                margin-bottom: 0;
            }
            &:hover,
            &:focus{
                background: rgba($color-dark, 0.3);
                color: $color-accent;
                
                text-shadow: 1px 1px 3px #000000, 1px 1px 10px #000000;
            }
        }
    }


    &__list-item.active a {
        color: #bb1a1a;
        background: rgba(0, 0, 0, 0.4);
        text-shadow: 1px 1px 3px #000000, 1px 1px 10px #000000;
    }

}


.header-menu__list.active {
    display: flex;
    flex-direction: column;

}

.header-menu__btn.active .header-menu__btn-row:first-child {
    top: 6px;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.header-menu__btn.active .header-menu__btn-row:nth-child(2) {
    opacity: 0;
}

.header-menu__btn.active .header-menu__btn-row:last-child {
    top: -6px;
    transform: rotate(-225deg);
}